body{

    font-family: 'Times New Roman', Times, serif;
    background-color: slategrey;
    margin: 0;
padding: 20px;

}

form{
background-color: antiquewhite;
padding: 20px;
border: 1px solid #ddd;
border-radius: 5px;
width: 300px;
margin: 0;

}